
<div class="topnav2">

  <a class="active" href="/dashboard/accounts">Accounts</a>
  <div class="dropdown">
  <a class="dropbtn">Payments</a>
  <div class="dropdown-content">
    <a class="dropbtn">Payments</a>
    <a href="/dashboard/payments">Customers Payments</a>
    <a href="/dashboard/sup_payment/">Suppliers Payments</a>
    <a href="#">Supplier Based Reports</a>
  </div>
</div>






  <div class="dropdown">
  <a class="dropbtn">Reports</a>
  <div class="dropdown-content">
    <a class="dropbtn">Reports</a>
    <a href="#">Customer Based Reports</a>
    <a href="/dashboard/branch_report/">Branch Based Repots</a>
    <a href="#">Supplier Based Reports</a>
  </div>
</div>

  </div>
