 {% extends 'base.html' %}

 {% block content %}
  {% include 'header.html' %}
{% include 'mobile_nav.html' %}

 {% include 'sidebar.html' %}

{% include 'cust_menus.html' %}








    <form method="POST">
         {% csrf_token %}

        <div class="form-group">
    <input type="text" class="form-control"  placeholder="First Name*" name="fname" required>
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="Last Name" name="lname">
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="Address" name="address">
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="Contact Number*" name="contact1" required>
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="Alternate Contact Number" name="alt_contact">
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="Destination Contact Number" name="dest_contact">
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="E-Mail" name="email">
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="Refrence Person Name" name="ref_person_name">
        </div>
        <div class="form-group">
    <input type="text" class="form-control"  placeholder="Refrence Person Contact Number" name="ref_person_contact">
        </div>

         <button type="submit" class="spbut">Register</button>
    </form>

 {% endblock %}