 {% extends 'base.html' %}

 {% block content %}
  {% include 'header.html' %}
{% include 'mobile_nav.html' %}

 {% include 'sidebar.html' %}

<div class="content">
    {% include 'service_menu.html' %}

        <table id="customers">
  <tr>
    <th>Date</th>
      <th>Customer</th>
    <th>Pax Name</th>
    <th>Service</th>
      <th>Status</th>
      <th>Supplier</th>
      <th>Rate</th>
      <th>Payment Status</th>
  </tr>
            {% for sale in sales %}
              <a href="www.google.com">
  <tr>

    <td>{{sale.sales_date}}</td>
      <td>{{sale.cust_name}}</td>
    <td>{{sale.pax_f_name}}</td>
    <td>{{sale.product_name}}</td>
      <td>Processing</td>
      <td>{{sale.sup_name}}</td>
      <td>{{sale.sales_price}}</td>
      <td>Paid</td>

  </tr>
                   </a>
{% endfor %}
</table>

    </div>
 {% endblock %}