 {% extends 'base.html' %}

 {% block content %}
  {% include 'header.html' %}
{% include 'mobile_nav.html' %}

 {% include 'sidebar.html' %}

 <div class="content" xmlns="http://www.w3.org/1999/html">
     {% include 'service_menu.html' %}
     <h1> {{customer_name}}</h1>

     {% if saved_data %}
      <table id="customers">
            <tr>
              <th>Pax Name</th><th>Service Name</th><th>Rate</th>
          </tr>

           {% for data in saved_data %}

  <tr>

    <td>{{data.pax_f_name}}</td><td>{{data.product_name}}</td><td>{{data.sales_price}}</td>
  </tr>

      {% endfor %}

      </table>
      <tr> <a href="/dashboard/submit_sales/1" >Submit  </a></tr>
     {% endif %}

     <form method="POST" name="sales_form" onsubmit="return(validate()">
         {% csrf_token %}

{% if saved_data %}




{% else %}

    <div class="form-group">
        <select class="form-control" id="sales_secect_customer" name="customer_name" required>
        <option value="" selected disabled >Select Party</option>
        {% for customer in customers %}
      <option>{{customer.id}}-{{customer.fname}}</option>
              {% endfor %}
    </select>
    </div>

{% endif %}


         <div class="form-group">
          <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Pax Name" name="pax_f_name" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Pax Last Name" name="pax_l_name">
    </div>
  </div>
         </div>
     <div class="form-group">

    <select class="form-control" id="sales_secect_service" name="service" required>
         <option value="" disabled selected>Select Service</option>
    {% for product in products %}
      <option>{{product.p_name}}</option>
        {% endfor %}


    </select>
    </div>

     <div class="form-group">

    <select class="form-control" id="sales_secect_supplier" name="supplier" >
         <option selected disabled>Select Supplier</option>
        {% for supplier in suppliers %}
      <option>{{supplier.id}}-{{supplier.sup_name}}</option>
     {% endfor %}
    </select>
    </div>

    <div class="form-group">

    <input type="text" class="form-control" id="purchase_rate" placeholder="Purchase Rate" name="purchase_rate">
  </div>

  <div class="form-group">

    <input type="text" class="form-control" id="sales_rate" placeholder="Visa Charge" name="sales_rate" required>
  </div>
         <div class="form-group">

    <input type="text" class="form-control" id="passport_number" placeholder="Passport Number" name="passport number" required>
  </div>
         <div class="form-group">
             <label>Passport Expiry </label>

    <input type="date" class="form-control" id="passport_expiry1" value="" name="passport_expiry1" required>
             <div class="dob"><label>DOB </label> <input type="date" class="form-control" id="dob"  name="dob" required></div>
  </div>
         <div class="form-group">

    <input type="text" class="form-control" id="" placeholder="Destination Contact Number" name="">
  </div>
         <div class="form-group">

    <input type="text" class="form-control" id="" placeholder="Destination Address" name="">
  </div>
    <button type="submit" class="spbut">Save Data</button>

         <a href="/dashboard/submit_sales/{{cust_id}}" >Submit  </a>

</form>
 </div>
 {% endblock %}