 {% extends 'base.html' %}

 {% block content %}
  {% include 'header.html' %}
{% include 'mobile_nav.html' %}


 {% include 'sidebar.html' %}

    <div class="content">
         {% include 'ac_menubar.html' %}
<form method="POST">
     {% csrf_token %}
<label for="birthday">Transaction Date:</label>
  <input type="date" id="birthday" name="birthday">

           <select class="form-control" id="make_payment_customer1" name="" >
               <option>Payment Mode</option>
               <option>Cash</option>
               <option>Bank Transfer</option>
               <option>Other Branch</option>

           </select>
    <input type="number" class="form-control" id="payment_amount" placeholder=Amount name="sup_payment_amount">
    <input type="text" class="form-control" id="transaction_id" placeholder="Payment Refrence" name="sup_transaction_id">
    <label for="discription">Comments</label>
    <textarea id="discription" name="sup_discription" rows="4" cols="50">
    </textarea>

 <div class="form-group">
     <button type="submit" class="spbut">Update</button>
 </div>
</form>

    </div>

 {% endblock %}